* {
    margin: 0px;
    box-sizing: border-box;
}

header {
    background-image: url("https://www.shutterstock.com/image-photo/banner-software-developer-programming-code-260nw-1076540219.jpg");
    height: auto;
    grid-row: 150px;
    grid-template-columns: 100%;
}

#nombre {
    background: linear-gradient(to right, rgb(0, 49, 148), rgb(0, 179, 255));
    border-top: 50px;
    margin-top: 0px;
    font-family: Helvetica, Garamond, Arial;
    text-align: center;
    text-transform: uppercase;
    color: aliceblue;
    padding: 5px;
    box-shadow: 0px 2px 5px gray;
}

#titulo {
    color: rgb(205, 208, 231);
    font-family: Helvetica, Garamond, Arial;
    text-align: center;
}

#foto {
    border-radius: 50%;
    width: 140px;
    margin-top: 50px;
    margin-left: 20px;
}

.encabezado { grid-area: "encabeado"; }

body {
    grid-row: 100%;
    grid-column: 100%;
}

aside{ height: auto;}

.aside {
    float: left;
    margin: 0 auto;
    height: auto;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 7px rgb(187, 198, 214);
    text-align: left;
    font-family: Helvetica, Garamond, Arial;
    grid-row: auto;
    grid-area: "aside";
}

article{ height: auto;}

.articulo {
    float: left;
    margin: 0 auto;
    height: auto;
    background-color: rgb(247, 9, 9);
    box-shadow: 2px 2px 7px rgb(187, 198, 214);
    text-align: left;
    font-family: Helvetica, Garamond, Arial;
    grid-row: auto;
    grid-area: "articulo";
}

h3 {
    color: rgb(53, 85, 173);
    text-decoration-line: underline;
}

p {
    color: rgb(0, 0, 0);
}

h4 {
    color: rgb(53, 85, 173);
}

footer{ 
    bottom: 0;
    position: absolute;
}

.footer {
    margin: 0 auto;
    background-color: rgb(92, 154, 209);
    box-shadow: 2px 2px 7px rgb(187, 198, 214);
    text-align: center;
    font-family: Helvetica, Garamond, Arial;
    grid-area: "footer";
}

button {
    border: none;
    background: linear-gradient(to right, rgb(14, 67, 174), rgb(7, 94, 224));
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: all ease 400ms;
}

img {
    border-radius: 50%;
    width: 30px;
    margin-top: 5px;
    margin-left: 20px;
}


.grid-container {
    height: 100vh;
    display: grid;
    /*grid-template-areas: 
        "header header header header header header header header header header header header"
        "aside aside articulo articulo articulo articulo articulo articulo articulo articulo articulo articulo" 
        "footer footer footer footer footer footer footer footer footer footer footer footer";*/
    grid-template-rows: 200px auto 100px;
    grid-gap: 10px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 5px;
}

/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}

